/* CSS Document */

body
{
	background-image: url(../images/tileable_wood_texture.png);
	background-repeat: repeat;
}

#wrapper 
{
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

#logo
{
	margin-top: 0.5em;
	text-align:center;
	margin-bottom: 0.5em;
}

#topfooter
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #f9ebae;
	color: #406472;
	clear: left;
}

h1 
{
	font-size: 72px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
}

h2
{
	color: #F0C323;
	font-style: normal;
	font-family: source-sans-pro;
	font-size: 24px;
}

h3
{
	color: #B44B1C;
	font-style: normal;
	font-size: 18px;
}

#imagetextbox
{
	font-size:14px;
}

#main 
{
	width: 58%;
	margin-left: 2%;
	float: left;
}

p
{
	font-size: 14px;
}

#sidebar 
{
	width: 34%;
	margin-left: 4%;
	float: left;
}

#bigimage img 
{
	max-width: 100%;
}

#bigimage 
{
	position: relative;
}

#imagearticle
{
	width: 331px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: -524px;
	right: 73px;
	background-color: #B44B1C;
	border-radius: 21px;
	color: #FFFFFF;
	height: 152px;
}

a:link 
{
	color: #FF6600;
}

a:visited 
{
	color: #FF944C;

}
a:hover, a:active, a:focus 
{
	color: #7F3300;
	text-decoration: underline;
}

#mainnavigation ul 
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#mainnavigation a 
{
	width: 20%;
	display: block;
	float: left;
	text-align: center;
	background-color:#e9b649;
	color: #406472;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
}

#mainnavigation a:hover, #mainnavigation a:active, #mainnavigation a:focus, #mainnavigation a.thispage 
{
	background-color: #f9ebae;
	text-decoration: none;
}

#footer 
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #f9ebae;
	color: #406472;
	clear: left;
	text-align: right;
}

.orange { color:#F90 }

#login
{
	margin:50px;
}

input
{
	float:right;
}

form
{
	width: 300px;
}

figure 
{
	display: block;
	width: 420px;
}

figure img 
{
	padding: 10px;
	-webkit-box-shadow: 1px 1px 15px #B44B1C;
	box-shadow: 1px 1px 15px #B44B1C;
}

figcaption 
{
	font-size: 0.875em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 0.5em;
}

.centered 
{
	margin-left: auto;
	margin-right: auto;
}
