/* CSS Document */

body
{
	background-image: url(../images/tileable_wood_texture.png);
	background-repeat: repeat;
}

#wrapper 
{
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

h1, h2 
{
	color: #406472;
	font-style: normal;
	font-weight: 600;
	font-family: source-sans-pro;
}

h2
{
	color: #799998;
	font-style: normal;
	font-weight: 600;
	font-family: source-sans-pro;
}

#main 
{
	width: 58%;
	margin-left: 2%;
	float: left;
}

#sidebar 
{
	width: 34%;
	margin-left: 4%;
	float: left;
}

#bigimage img 
{
	max-width: 100%;
}

#bigimage 
{
	position: relative;
}

#imagearticle
{
	width: 32%;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 50px;
	right: 40px;
	background-color: #B44B1C;
	border-radius: 21px;
	color: #FFFFFF;
}

a:link 
{
	color: #FF6600;
}

a:visited 
{
	color: #FF944C;

}
a:hover, a:active, a:focus 
{
	color: #7F3300;
	text-decoration: underline;
}

#mainnavigation ul 
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#mainnavigation a 
{
	width: 20%;
	display: block;
	float: left;
	text-align: center;
	background-color:#e9b649;
	color: #406472;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
}

#mainnavigation a:hover, #mainnavigation a:active, #mainnavigation a:focus, #mainnavigation a.thispage 
{
	background-color: #f9ebae;
	text-decoration: none;
}

#footer 
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #f9ebae;
	color: #406472;
	clear: left;
}

.orange { color:#F90 }

#login
{
	margin:50px;
}

